<!-- Add this to your HTML file -->
<div class="modal" id="gameOverModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Game Over</h4>
            </div>
            <div class="modal-body" id="gameOverModalBody">
                <!-- Score will be dynamically inserted here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="playAgainButton">Play Again</button>
                <button type="button" class="btn btn-secondary" id="submitScoreButton">Submit Score</button>
            </div>
        </div>
    </div>
</div>
