<!-- templates/game_over.html -->
{% extends "base.html" %} 
{% block title %}Game Over{% endblock %} 
{% block content %} 
    {% include 'message.html' %}
    <div class="row">
        <div class="col-md-4">
            <!-- Left side highscore list -->
            <h2>Your Highscores</h2>
            <ol class="list-unstyled highscore-list">
                {% for highscores in personal_highscores[:5] %}
                <li>{{ loop.index }}. {{ highscores.user }} - {{ highscores.score }}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="col-md-4">
            <!-- Game over details -->
            <h1>Game Over</h1>
            <p id="score">Your Score: {{ score }}</p>
            <a href="/submit_score"><button>Submit Score</button></a>
            <a href="/game"><button>Play Again</button></a>
        </div>
        <div class="col-md-4">
            <!-- Right side highscore list -->
            <h2>Top Highscores</h2>
            <ol class="list-unstyled highscore-list">
                {% for highscores in global_highscores[:10] %}
                <li>{{ loop.index }}. {{ highscores.user }} - {{ highscores.score }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}



